/*_____________________nav bar styling_________________________*/
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar
{
  background-color: black;
  padding: 0 !important;

}
.navbar-brand img
{
  height: 40px;
}
.navbar-nav li
{
  padding: 0 10px;

}
.navbar-nav li a
{
  color: white !important;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  float: right;
  text-align: left;
}
.fa-ellipsis-v
{
  color: white;
  font-size: 30px !important;
}
.navbar-toggler
{
  outline: none !important;
}

/*_______________________banner styling________________________*/

#banner
{
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  /*text-decoration: underline;*/
  text-decoration-color: #1a6fb7;
}
.title
{
  font-size: 55px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
}
.bottom-img
{
  width: 100%;
}

/*_______________________Features styling________________________*/

#features
{
  padding: 80px 0;
  background-color: white;
}

.feature-img
{
  width: 280px;
  margin-top: 20px;

}

.features
{
  padding: 10px;
}

.features h4
{
  padding: 5px;
  font-family: "Poppins", sans-serif;

  margin-top: 25px;
  color: black;
  font-weight: 200;
  /*text-decoration: underline;*/
  text-decoration-color: #1a6fb7;
}

.name
{
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin-top: -100px;
    /*text-decoration: underline;*/
  text-decoration-color: #1a6fb7;
}

#features .btn-primary
{
  box-shadow: none;
  color: #1a6fb7;
  padding: 12px 35px;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  color: white;
  background-color: #1a6fb7;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
}

/*_______________________abt us styling________________________*/
#about-us
{
  background-color: black;
  color: white;
  padding: 00px;
}
.bottom-image
{
  padding: 10px;
  padding-bottom: 25px;
  width: 100%;
  height: auto;
  transform: scale(1.2);


}

h4
{
  padding: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  /*text-decoration: underline;*/
  text-decoration-color: #1a6fb7;

}

li
{
  padding: 5px;
  text-decoration: none;
  font-style: normal;
}


p
{
font-size: 15px;
}

.about-us-img
{
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.about-us
{
padding: 10px;
padding-left: 90px;
padding-right: 90px;
}

 h1
{
  /*text-decoration: underline;*/
  text-decoration-color: #1a6fb7;

}

.img-fluid
{
  max-width: 100%;
  height: 100px;

}

figure
{
  max-width: 100%;
  height: 100%;
  padding-bottom:  5px;

}
#footer
{
  padding: 35px;
  background-color: black;
  color: black;
}
